.bookshelf
  display: flex
  justify-content: space-evenly
  &__item
    width: 30px
    height: 470px
    background-color: $books-color
    box-shadow: 2px 2px 2px $text-color
    &--full
      width: 350px
      margin-left: 15px
      margin-right: 15px
