.modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0,0,0, 0.5)
  padding: 80px
  &__inner
    margin: 0 auto
    background-color: $bcg
    padding: 20px 40px
  &__buttom
    display: flex
    justify-content: space-between
    gap: 20px
    &__left
      width: 40%
    &__right
      // flex: 5
  &__img
    width: 100%
